Web_Consumo/Web_Consumo/Connected Services/WCF_BD/BD.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BD" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.0.50/BD_Aeropuerto.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.0.50/BD_Aeropuerto.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.0.50/BD_Aeropuerto.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBD_CrearDTParametros_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearDTParametros" />
  </wsdl:message>
  <wsdl:message name="IBD_CrearDTParametros_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearDTParametrosResponse" />
  </wsdl:message>
  <wsdl:message name="IBD_ListarFiltrarDatos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarFiltrarDatos" />
  </wsdl:message>
  <wsdl:message name="IBD_ListarFiltrarDatos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarFiltrarDatosResponse" />
  </wsdl:message>
  <wsdl:message name="IBD_Ins_Mod_Eli_Datos_InputMessage">
    <wsdl:part name="parameters" element="tns:Ins_Mod_Eli_Datos" />
  </wsdl:message>
  <wsdl:message name="IBD_Ins_Mod_Eli_Datos_OutputMessage">
    <wsdl:part name="parameters" element="tns:Ins_Mod_Eli_DatosResponse" />
  </wsdl:message>
  <wsdl:portType name="IBD">
    <wsdl:operation name="CrearDTParametros">
      <wsdl:input wsaw:Action="http://tempuri.org/IBD/CrearDTParametros" message="tns:IBD_CrearDTParametros_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBD/CrearDTParametrosResponse" message="tns:IBD_CrearDTParametros_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarFiltrarDatos">
      <wsdl:input wsaw:Action="http://tempuri.org/IBD/ListarFiltrarDatos" message="tns:IBD_ListarFiltrarDatos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBD/ListarFiltrarDatosResponse" message="tns:IBD_ListarFiltrarDatos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ins_Mod_Eli_Datos">
      <wsdl:input wsaw:Action="http://tempuri.org/IBD/Ins_Mod_Eli_Datos" message="tns:IBD_Ins_Mod_Eli_Datos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBD/Ins_Mod_Eli_DatosResponse" message="tns:IBD_Ins_Mod_Eli_Datos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBD" type="tns:IBD">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearDTParametros">
      <soap:operation soapAction="http://tempuri.org/IBD/CrearDTParametros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarFiltrarDatos">
      <soap:operation soapAction="http://tempuri.org/IBD/ListarFiltrarDatos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ins_Mod_Eli_Datos">
      <soap:operation soapAction="http://tempuri.org/IBD/Ins_Mod_Eli_Datos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BD">
    <wsdl:port name="BasicHttpBinding_IBD" binding="tns:BasicHttpBinding_IBD">
      <soap:address location="http://192.168.0.50/BD_Aeropuerto.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>